from django.db.models import Q, Subquery, OuterRef

# ...

class ProductListView(generic.ListView):
    template_name = 'products/list.html'
    queryset = Product.objects.all()
    context_object_name = "product_list"

    def get_queryset(self):
        queryset = super().get_queryset()
        title = self.request.GET.get('title')
        price_from = self.request.GET.get('price_from')
        price_to = self.request.GET.get('price_to')

        if title:
            queryset = queryset.filter(title__contains=title)

        if price_from and price_to:
            subquery = ProductVariantPrice.objects.filter(
                Q(product_variant_one__product=OuterRef('pk')) |
                Q(product_variant_two__product=OuterRef('pk')) |
                Q(product_variant_three__product=OuterRef('pk')),
                price__gte=price_from,
                price__lte=price_to
            ).values('product')
            queryset = queryset.filter(pk__in=Subquery(subquery))

        elif price_from:
            subquery = ProductVariantPrice.objects.filter(
                Q(product_variant_one__product=OuterRef('pk')) |
                Q(product_variant_two__product=OuterRef('pk')) |
                Q(product_variant_three__product=OuterRef('pk')),
                price__gte=price_from
            ).values('product')
            queryset = queryset.filter(pk__in=Subquery(subquery))

        elif price_to:
            subquery = ProductVariantPrice.objects.filter(
                Q(product_variant_one__product=OuterRef('pk')) |
                Q(product_variant_two__product=OuterRef('pk')) |
                Q(product_variant_three__product=OuterRef('pk')),
                price__lte=price_to
            ).values('product')
            queryset = queryset.filter(pk__in=Subquery(subquery))

        return queryset

    def get_context_data(self, **kwargs):
        context = super().get_context_data(**kwargs)

        context['products_variants'] = ProductVariant.objects.values('variant_title') \
            .annotate(Count('id')).order_by().filter(id__count__gt=1)

        return context
